/*
filename: style.css
author: Halim, ...
last modified: 18/05/23
description: stylesheet
*/
body {
  background: #ededed;
  color: BLACK;
}

  /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #1f1f1f;
  font-family: Arial, Helvetica, sans-serif;
}
